<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{url_for('static', filename='css/styles.css' )}}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
      </nav>
  
        <div class="container">
  
  
          <h1>FORMS</h1>
         <!-- FORMS -->
         <form>
           <div class="input-field">
             <input type="text" id="food">
             <label class="active" for="name">Food</label>
           </div>
           <div class="input-field">
             <input type="email" id="email" class="validate">
             <label class="active" for="email">Email</label>
           </div>
           <div class="input-field">
             <textarea type="email" id="textarea" class="materialize-textarea"></textarea>
             <label class="active" for="textarea">Textarea</label>
           </div>
           <button class="btn green waves-effect" id="loadData">Submit</button>
         </form>
  
        <h1>PRELOADERS</h1>
        <!-- PRELOADERS -->
        <div class="progress">
          <div class="determinate" style="width:40%"></div>
        </div>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
  

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static', filename='js/init.js')}}"></script>
  <script>
      
      $("#loadData").on("click", function() {
        var input = $("#food").val()
        console.log(input)
        var url = "http://127.0.0.1:5000/data/" + input
        console.log(url)
        window.location.href = url
        return false;
      })
  </script>
</body>
</html>